<!-- Book Focus View -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="detail-content">
        <div class="book-content">
            {% if book.cover_image_url %}
            <img src="{{ book.cover_image_url }}" alt="{{ book.title }} Cover" class="book-cover">
            {% endif %}

            <h2>{{ book.title }}</h2>
            <p class="sub-details"><strong>Author:</strong> {{ book.author }}</p>
            <p class="sub-details"><strong>Genre:</strong> {{ book.genre }}</p>
            <p class="sub-details"><strong>Type:</strong> {{ book.lit_type }}</p>
            <p class="summary">{{ book.synopsis|truncatewords:30 }}</p>
            <div class="options">
                <button class="option">+</button>
                <a href="{% url 'add_review' book.id %}">Add Review</a>
            </div>
        </div>
        <div class="reviews">
            <h2>Reviews</h2>
            {% for review in reviews %}
            <div class="review">
                <p class="review-details"><strong>{{ review.user.username }}</strong> rated {{ review.rating }}/5</p>
                <p class="review-text">{{ review.text }}</p>
            </div>
            {% empty %}
                <p>No reviews yet...</p>
            {% endfor %}
        </div>
    </section>

{% endblock %}