@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color:rgb(32, 32, 32);
}

.book-spotlight {
    width: 65%;
    margin: 30px auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b7682;
    border-radius: 15px;
    padding: 3% 15%;
    gap: 25px;
    color: #ffffff;
}

.book-spotlight img {
    width: 230px;
    height: 300px;
}

.spot-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.spot-content h2 {
    grid-row: 1;
    grid-column: 1;
    font-size: 50px;
    margin: 1% 0 0;
}
.spot-sub {
    display: grid;
    grid-template-columns: auto 60%;
    grid-template-rows: auto auto;
    grid-row: 2;
    grid-column: 1;
}
.spot-sub h4 {
    margin: 10px 8px;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}
.synopsis {
    grid-row: 3;
    grid-column: 1;
    margin: 10px 8px;
}

.top-rated {
    width: 85%;
    margin: 30px auto 0;
    border-radius: 20px;
}

.category-head {
    background-color: #2b2b2b;
    color:#ffffff;
    width:fit-content;
    line-height: 0;
    padding: 10px 25px;
    border-radius: 40px;
}

.scroll-cat {
    position:relative;
    max-width: 90%;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1.2rem;
    padding: 1rem 2.5rem;
}

.carousel::-webkit-scrollbar, .mini-carousel::-webkit-scrollbar {
    display: none;
}

.cat-card {
    flex: 0 0 150px;
    height: 250px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 6px;
}

.cat-card img {
    width: 150px;
    height: 200px;
    display: block;
    object-fit: cover;
    
}

.left-scroll, .right-scroll{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background: white;
    border: none;
    border-radius: 45%;
    min-width: 40px;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    color: #333;
}

.right-scroll {
    right: 0
}

.left-scroll {
    left: 0
}

.left-scroll:hover, .right-scroll:hover {
    background: #2b2b2b; 
    color: #ffffff;
}

.trending {
    display: flex;
    width: 85%;
    margin: 30px auto 0;
}

.trend-books {
    width: 75%;
    height: auto;
    flex-direction: column;
    margin: 10px;
}

.trend-bookcover {
    width: 150px;
    height: 200px;
    object-fit: cover;
    padding: 0 15px 0 0;
}

.trend-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    padding: 20px 10px;
}

.trend-card {
    padding: 20px;
    border-radius: 20px;
    display: flex;
    background-color:#f8f9fa ;
}

.card-details {
    padding: 0 15px;
}

.top-reviewers {
    width: 75%;
    height: auto;
    flex-direction: column;
    margin: 10px;
}

.reviewer-card {
    margin: 20px 10px;
    gap: 1rem;
    background-color: #f8f9fa;
    border-radius: 20px;
}

.reviwer-card details {
    padding: 15px;
}

.lit-section {
    width: 85%;
    margin: 75px auto 0;
    color: #ffffff;
}

.lit-cat {
    gap: 2rem;
    padding: 10px;
}

.mini-carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 1rem 2.5rem;
    background-color:#4b7682;
    border-radius: 15px;
}

.mini-cat-card {
    flex: 0 0 100px;
    width: 50px;
    height: auto;
    object-fit: cover;
    background: #ddd;
}

.mini-cat-card img {
    width: 100px;
    height: 160px;
    object-fit: cover;
    display: block;
}

@media screen and (max-width: 768px) {
    .trending {
        flex-direction: column;
        align-items: center;
    }

    .trend-books {
        width: 100%;
        margin: 10px 0;
    }

    .trend-grid {
        grid-template-columns: 1fr;
    }
}
